<nav class="navbar navbar-expand-lg sticky-top bg-dark">
  <div class="container-fluid">
    <a routerLink="" class="navbar-brand text-white">OpenFabric</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarContent"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item mx-auto">
          <a routerLink="/add" class="nav-link text-white">
            <i class="bi bi-plus"></i>
            Add Item
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
