.card-img-contain {
  width: 100%;
  height: 10rem;
  object-fit: contain;
}

.card-menu {
  background-color: rgb(194, 186, 186);
  color: white;
}

.text-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
